@keyframes colorout {
  from {
    fill: #3A7D29;
  }

  to {
    fill: #999;
  }
}

.Arrow {
  height: 66px;
  fill: #999;
  animation-duration: 2s;
  animation-name: colorout;
  animation-timing-function: ease-in;
}


.Arrow_up {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

.Arrow_right {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

.Arrow_down {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
