.App {
  display: grid;
  grid-template-columns: 1fr minmax(30px, 1fr) minmax(1px, 331px) minmax(30px, 1fr) 1fr;
  grid-template-rows: 0.55fr max-content 24px max-content 32px max-content 32px max-content 0.45fr;
  min-height: 100vh;
}

.App__title {
  grid-area: 2 / 3 / 3 / 4;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #333;
  margin: 0;
  animation-duration: 2s;
  animation-name: colorout;
  animation-timing-function: ease-in;
}

.App__subtitle {
  grid-area: 4 / 3 / 5 / 4;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
  color: #333;
}





/*  transform: rotate(0deg);*/
