@import url('../src/vendor/fonts/Balsamiq Sans.css');
@import url('../src/vendor/normalize.css');

body {
  margin: 0;
  font-family: 'Balsamiq Sans', 'Arial', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
